.custom-img{
    width: 18rem;
    height: 18rem;
    position: relative;
    z-index: 1;
}
.custom-img img{
}
.custom-img::before{
    content: "";
    position: absolute;
    background-color: var(--green-color);
    right: -27px;
    width: 60%;
    height: 100%;
    z-index: 0;
    top: -27px;
}