@import url();
:root {
  --black-color: #000;
  --white-color: #fff;
  --blue-color: #00204A;
  --green-color: #306C62;
  --yellow-color: #F8B401;
}

html{
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: var(--fontFamily) !important;
}

/* Yellow Color & Background */

.yellow-color{
  color: var(--yellow-color);
}

.yellow-bg{
  background-color: var(--yellow-color);
}

/* Green Color & Background */

.green-color{
  color: var(--green-color);
}

.green-bg{
  background-color: var(--green-color);
}
